@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="sportsStore">
<head>
    <title>SportsStore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <script>
        angular.module("sportsStore", ["customFilters"]);
    </script>
    <script src="~/Scripts/Controllers/sportsStore.js"></script>
    <script src="~/Scripts/Filters/customFilters.js"></script>
    <script src="~/Scripts/Controllers/productListControllers.js"></script>
</head>
<body ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a> 
    </div>
    <div class="alert alert-danger" ng-show="data.error">
        Error ({{data.error.status}}). The product data was not loaded.
        <a href="/" class="alert-link">Click here to try again</a>
    </div>
    <div class="panel panel-default row" ng-controller="productListCtrl" ng-hide="data.error">
        <div class="col-xs-3">
            <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass()">Home</a>
            <a ng-repeat="item in data.products | orderBy:'Category' | unique:'Category'" 
               ng-click="selectCategory(item)" 
               class="btn btn-block btn-default btn-lg"
               ng-class="getCategoryClass(item)">{{item}}</a>
        </div>
        <div class="col-xs-8">
            <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
                <h3>
                    <strong>{{item.Name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.Price | currency}}
                    </span>
                </h3>
                <span class="lead">{{item.Description}}</span>
            </div>
            <div class="pull-right btn-group">
                <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                   ng-click="selectPage($index + 1)" class="btn btn-default"
                   ng-class="getPageClass($index + 1)">
                    {{$index + 1}}
                </a>
            </div>
        </div>
    </div>
</body>
</html>
